<div class="container">
    
    <div class="page-header">
        <h1>
            <%= link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, 
                recipes_path, :title => "go back" %> 
            <%= @recipe.title %> 
            <small>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, 
                edit_recipe_path(@recipe), :title => "edit recipe" %>
            </small>
        </h1>
    </div>
    
    <div class="col-sm-8">
        <% if @recipe.image_url(:large) %>
        <%= image_tag @recipe.image_url(:large), :class => "img-responsive img-rounded" %><br/>
        <% end %>
        <p class="lead"><%= @recipe.description %></p>
        <% unless @recipe.ingredients.blank? %>
        <h4>Ingredients</h4>
        <ul class="list-group">
            <% @recipe.ingredients.each do |ingredient| %>
            <li class="list-group-item"><%= ingredient.name %></li>
            <% end %>
        </ul>
        <% end %>
        <% unless @recipe.instructions.blank? %>
        <h4>Instructions</h4>
        <ul class="list-group">
            <% @recipe.instructions.each do |instruction| %>
            <li class="list-group-item"><%= instruction.description %></li>
            <% end %>
        </ul>
        <% end %>
    </div>
    
    <div class="col-sm-4 text-center">
        <img src="http://lorempixel.com/300/600/food/advertising" width="300" height="600" />
    </div>

</div>

<%= render "footer" %>