    <div class="page-header">
        <h1>
            <%= link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, recipes_path %> 
            <%= @recipe.title %> 
            <small><%= link_to 'edit', edit_recipe_path(@recipe) %></small>
        </h1>
    </div>
    
    <div class="row">
        
        <div class="col-sm-8">
            <% if @recipe.image %>
            <img src="<%= @recipe.image %>" class="img-responsive img-rounded" /><br/>
            <% end %>
            <p class="lead"><%= @recipe.description %></p>
            
            <h4>Ingredients</h4>
            <ul class="list-group">
                <%= render @recipe.ingredients %>
            </ul>
            <%= render 'ingredients/form' %>
            
            <h4>Instructions</h4>
            <ul class="list-group">
                <%= render @recipe.instructions %>
            </ul>
            <%= render 'instructions/form' %>
        </div>
        
        <div class="col-sm-4 text-center">
            <img src="http://iab.wpengine.com/wp-content/uploads/2015/06/300x600.gif" width="300" height="600" />
        </div>
        
    </div>